.nav-bar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
  }
  
  .nav-bar h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin: 0;
    color: #8c3d5a;
  }
  
  .nav-bar button {
    margin-left: 50px;
    width: 90%;
    background-color: #8c3d5a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }
  
  .nav-bar button:hover {
    background-color: #7b334d;
  }
  
  .recipe-detail {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-detail h2 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #8c3d5a;
    margin-bottom: 20px;
  }
  
  .recipe-detail img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .recipe-detail p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  